ipython>=8.10
jupyterlab>=3.0
kedro-datasets>=3.0
kedro-viz>=6.7.0
kedro[jupyter]~=0.19.13
notebook
scikit-learn~=1.5.1
setuptools; python_version >= "3.12"

scikit-learn==1.7.0
pulp==3.2.1
xgboost==3.0.2
hyperopt==0.2.7
mlflow==2.22.1
kedro-mlflow==0.14.4
shap==0.48.0
matplotlib